body {
  width: 80%;
  max-width: 1024px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt; /*use for setting rem later*/
}

pre {
  display: none;
}

.other-image {
  margin: 0px;
}

img {
  width: 100%;
  object-fit: cover;
}

.featured-story {
  display: none;
}

.story-list {
  list-style: none;
  padding: 0;
}

.story-date {
  color: gray;
  font-size: 0.95rem;
  font-weight: bold;
  margin: 0.5rem 0rem;
}

h1 {
  margin: 8px 0px;
}

.story-title {
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
}

.story-content {
  display: none;
}

.story-source {
  margin: 1.1rem 0rem;
}

.story-source a:hover {
  color: gray;
}

.story-source a {
  color: rgb(29, 40, 166);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
}

.story-description {
  margin: 12px 0px;
  font-size: 0.9rem;
}

.other-story {
  margin: 3rem 0rem;
}

hr {
  border: 1px solid gray;
}

@media (min-width: 720px) {
  .story-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
  }

  .story-source a {
    font-size: 0.85rem;
  }

  hr {
    display: none;
  }

  .other-story {
    margin: 0;
  }

  
}

@media (min-width: 982px) {
  .story-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 18px;
  }

  .story-source a {
    font-size: 0.9rem;
  }

  .story-date {
    font-size: 1rem;
  }

  .story-title {
    font-size: 1.4rem;
  }

  .story-description {
    font-size: 0.9rem;
  }

  hr {
    display: none;
  }
}
